@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="align-content-center">
    <div class="jumbotron">
        <div class="container">
            <img src="~/img/Jumbotron.jpg" />
        </div>
    </div>
</div>
